
a{
    text-decoration: none;
}

.person-box{
    padding: 0;
    background :#646565;
}
#person-info{

    position: fixed;
    background :#646565;
    width: 350px;
}
.logo-h2{
    margin: 20px auto;
    text-align: center;
    padding: 10px;

}
.logo{
    width: 100px;
    height: 100px;
    border: 2px solid #FFF;

}
.infor-icon{
    text-align: center;
}
.infor-icon img{
    width: 22px;
    height: 22px;
    margin: 0 15px;
}

.per-detial-info{
    padding: 10px 70px;
    color: #FFF;
}


.about-me{
    color: #FFF;
}
.about-me h4{
    text-align: center;
}
.about-me p{
    margin: 0 30px;
}

.per-ability{
    padding: 30px;
}


/*      右半部分，博客内容       */

.container-fluid{
    background-color: #FAFBFF;
}
.blog-content{
    padding: 20px;

}

.blog-atc .blog-title{
    font-family: "KaiTi" ,STKaiti ,"楷体";

}
.blog-atc .blog-title a{
    color: #231919;
}
.blog-atc p{
    font-family: SimHei,"Hiragino Sans GB","黑体";
    font-size: 15px;
}

.blog-img{
    margin-top: 20px;
}



/* 小屏幕（平板 ，大于 等于768px）*/
@media (min-width: 768px) {
    #person-info{
        width: 450px;
    }

}
/* 中等屏幕（桌面显示器 ，大于 等于992px）*/
@media (min-width: 992px) {

    #person-info{
        width: 563px;
    }
}
/* 大屏幕（大桌面显示器 ，大于 等于1200px）*/
@media (min-width: 1200px) {

}
