
a{
    text-decoration: none;
}

#person-info{

    /*

    background : url(imgs/left_bg.jpg) no-repeat;
    */

}
.logo-h2{
    margin: 20px auto;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;

}
.infor-icon{
    text-align: center;
}
.infor-icon img{
    width: 22px;
    height: 22px;
    margin: 0 15px;
}

.per-detial-info{
    padding: 10px 70px;
    color: #FFF;
}


.about-me{
    color: #FFF;
}
.about-me h4{
    text-align: center;
}
.about-me p{
    margin: 0 30px;
}














/* 小屏幕（平板 ，大于 等于768px）*/
@media (min-width: 768px) {


}
/* 中等屏幕（桌面显示器 ，大于 等于992px）*/
@media (min-width: 992px) {

}
/* 大屏幕（大桌面显示器 ，大于 等于1200px）*/
@media (min-width: 1200px) {

}
