<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZengTianShengZ Blog</title>
    <meta name="description"
          content="ZengTianShengZ Blog">
    <meta name="keywords"
          content="ES6 nodejs 前端 博客 JavaScript css ZengTianShengZ Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/css/index2.css">
    <link rel="stylesheet" href="src/css/owl.carousel.css">
    <link rel="stylesheet" href="src/css/animate.min.css">
</head>
<body>
<article class="article">
    <div class="top-line"></div>
    <section class="container">
        <div class="box rol">
            <div class="con-left col-md-3">
                <div class="top-title wow fadeInDown" data-wow-duration="200ms" data-wow-delay="200ms">
                    <h4>ZengTianShengZ</h4>
                    <p>blog</p>
                </div>
                <div class="github wow fadeInDown" data-wow-duration="200ms" data-wow-delay="400ms">
                    <div class="head"><img src="./image/head.jpg" alt=""></div>
                    <p class="hard-name">曾田生</p>
                    <p class="handsome-boy">handsome boy</p>
                    <ul class="clearfix">
                        <li>
                            <span>Rep</span>
                            <span id="repositories"></span>
                        </li>
                        <li>
                            <span>Star</span>
                            <span id="star"></span>
                        </li>
                        <li>
                            <span>Fork</span>
                            <span id="fork"></span>
                        </li>
                    </ul>
                    <div class="link">
                        <span><a target="_blank" href="https://github.com/ZengTianShengZ"><i class="i1-icon"></i>GitHub</a></span>
                        <span><a target="_blank" href="https://segmentfault.com/u/zss"><i class="i2-icon"></i>SegmentFaul</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="blog-cont rol wow fadeInDown" data-wow-duration="200ms" data-wow-delay="800ms">
                    <p class="message-limit">
                        github API limit <br/>
                        {
                        message: "API rate limit exceeded for 45.76.213.140. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)",
                        documentation_url: "https://developer.github.com/v3/#rate-limiting"
                        }
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>
<script src="build/js/combined-f8fd6acbbf-min.js"></script>
<script src="./src/js/wow.min.js"></script>

<script id="blogContent" type="text/template">
    <% if (blogMessage.length) { %>
    <% blogMessage.forEach(function(blog){ %>
    <div class=" text-cont clearfix wow fadeInDown" data-wow-duration="200ms" data-wow-delay="1000ms">
        <h2><a target="_blank" href='blog.html?<%= blog.url_id %>'><%= blog.titles%></a></h2>
        <p class="time">发表于 <%= blog.updated_at %></p>
        <p class="atk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= blog.article_intor %></p>
        <img src="build/imgs/blog_tt.jpg" id='blogImg<%= blog.url_id %>' alt="">
        <a target="_blank" href='blog.html?<%= blog.url_id %>'  class="more-link">查看更多>></a>
    </div>
    <% }) %>
    <% } %>
</script>
<script type="text/javascript">
    var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', '95df1bbb02e104a7']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
    
    new WOW().init();
    $.get('https://api.github.com/users/ZengTianShengZ/repos?sort=updated', function (data) {
        var stargazers_count,
                forks_count,
                item_count;
        for(i = 0 ;i<data.item.length;i++){
            item_count =item_count+1;
            stargazers_count += item.stargazers_count;
            forks_count += item.forks_count;
        }
        $('#repositories').text(item_count);
        $('#star').text(stargazers_count);
        $('#fork').text(forks_count);
    });
</script>
</body>
</html>
