@charset "UTF-8";
.row,
.col-sm-5,
.col-sm-7 {
  padding: 0;
  margin: 0; }

body {
  /*小屏幕时去掉*/
  overflow: hidden;
  color: #DEDBD9;
  font-family: "KaiTi" ,STKaiti ,"楷体";
  font-size: 1.6rem; }

.person {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background: #646565 url("../../imgs/bigbg.jpg") no-repeat;
  background-size: cover; }

/* for Chrome */
.person::-webkit-scrollbar {
  display: none; }

.person-bg {
  width: 100%;
  height: 123%;
  border: 1px solid #646565;
  background-color: #000000;
  /* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color: rgba(0, 0, 0, 0.6);
  /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  /* 这里不能使用 opacity: 0.6;  设置opacity元素的所有后代元素会随着一起具有透明性，一般用于调整图片或者模块的整体不透明度*/ }

.person-p {
  position: relative;
  /*  logo  */
  /*  logo-anim  */
  /*  info-icons  */
  /*  info-icons-anim */
  /*  my-info */
  /*  my-info */
  /*  about-me */
  /*  about-me */
  /*  my-ability */
  /*  my-ability */ }
  .person-p .logo {
    width: 7.5rem;
    height: 7.5rem;
    background: url("../../imgs/logo.jpg") no-repeat;
    background-size: cover;
    border: 2px solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 1s ease-out; }
  .person-p .logo-anim {
    opacity: 1; }
  .person-p .info-icons {
    width: 18.3rem;
    position: absolute;
    top: 13.5rem;
    left: 0;
    right: 0;
    /*margin: 0 auto; 必选设置宽高才有校*/
    margin: 0 auto;
    opacity: 0.5;
    transition: all 1s ease-out; }
    .person-p .info-icons ul li {
      float: left; }
    .person-p .info-icons ul li + li {
      padding-left: 2rem; }
    .person-p .info-icons .infor-icon a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: url("../../imgs/icon/github.png") no-repeat;
      background-size: cover; }
  .person-p .info-icons-anim {
    top: 9rem;
    opacity: 1; }
  .person-p .info-more {
    position: absolute;
    top: 12.5rem;
    right: 2rem;
    display: none; }
  .person-p .my-info {
    width: 70%;
    position: absolute;
    top: 15.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.5;
    transition: all 1s ease-out; }
  .person-p .my-info-anim {
    top: 11.5rem;
    opacity: 1; }
  .person-p .about-me {
    width: 100%;
    position: absolute;
    top: 20.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.5;
    transition: all 1s ease-out; }
    .person-p .about-me .about-me-title {
      width: 100%;
      padding: 0.6rem;
      background-color: #FFF;
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center; }
      .person-p .about-me .about-me-title h4 {
        padding: 0;
        margin: 0; }
      .person-p .about-me .about-me-title span {
        font-size: 1.4rem; }
    .person-p .about-me p {
      width: 85%;
      margin: 0 auto;
      text-indent: 2rem; }
  .person-p .about-me-anim {
    top: 18rem;
    opacity: 1; }
  .person-p .my-ability {
    position: absolute;
    top: 37.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s ease-out; }
    .person-p .my-ability .my-ability-c {
      width: 100%; }
    .person-p .my-ability .my-ability-title {
      width: 15.5rem;
      height: 3.2rem;
      background: url("../../imgs/skill_img.png") no-repeat;
      background-size: cover;
      margin: 0 auto; }
    .person-p .my-ability .mb-li-img {
      float: left;
      width: 18.6%;
      height: 5rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      background: url("../../imgs/ac_img1.jpg") no-repeat;
      background-size: cover; }
    .person-p .my-ability .my-ability-foot {
      padding: 1rem;
      font-size: 1.4rem; }
  .person-p .my-ability-anim {
    top: 34.5rem;
    opacity: 1; }
  .person-p .person-foot {
    position: absolute;
    top: 53.5rem;
    left: 0;
    right: 0;
    text-align: center; }

/* person 的响应式布局 */
/* 设置断点 */
@media only screen and (min-width: 46.875em) and (max-width: 78.125em) {
  .person-p .my-info {
    width: 90%; }
  .my-ability .my-ability-c .mb-li-img {
    width: 18%; } }

@media only screen and (min-width: 33.125em) and (max-width: 46.775em) {
  .my-ability .my-ability-c .mb-li-img {
    width: 18.7%; } }

@media only screen and (max-width: 33.025em) {
  body {
    overflow: scroll; }
  .person {
    height: 17.6rem; }
  .person-p .my-info,
  .person-p .about-me,
  .person-p .my-ability,
  .person-p .person-foot {
    display: none; }
  .person-p .info-more {
    display: block; } }

.blog {
  height: 100vh;
  background: blue;
  overflow: auto; }
