@charset "UTF-8";
.row,
.col-sm-5,
.col-sm-7 {
  padding: 0;
  margin: 0; }

body {
  /*小屏幕时去掉*/
  overflow: hidden;
  color: #DEDBD9;
  font-family: "KaiTi" ,STKaiti ,"楷体";
  font-size: 1.6rem; }

.person {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  /*
  background :#646565 url("../../imgs/bigbg.jpg") no-repeat;
  */
  background-size: cover; }

/* for Chrome */
.person::-webkit-scrollbar {
  display: none; }

.person-bg {
  width: 100%;
  height: 123%;
  border: 1px solid #646565;
  background-color: #000000;
  /* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color: rgba(0, 0, 0, 0.6);
  /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  /* 这里不能使用 opacity: 0.6;  设置opacity元素的所有后代元素会随着一起具有透明性，一般用于调整图片或者模块的整体不透明度*/ }

.person-p {
  position: relative;
  /*  logo  */
  /*  logo-anim  */
  /*  info-icons  */
  /*  info-icons-anim */
  /*  my-info */
  /*  my-info */
  /*  about-me */
  /*  about-me */
  /*  my-ability */
  /*  my-ability */ }
  .person-p .logo {
    width: 7.5rem;
    height: 7.5rem;
    background: url("../imgs/logo.jpg") no-repeat;
    background-size: cover;
    border: 2px solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .person-p .logo-anim {
    opacity: 1; }
  .person-p .info-icons {
    width: 18.3rem;
    position: absolute;
    top: 14.5rem;
    left: 0;
    right: 0;
    /*margin: 0 auto; 必选设置宽高才有校*/
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    /*   .infor-icon a{
         display: inline-block;
         width: 2rem;
         height: 2rem;
         background: url("../../imgs/icon/github.png") no-repeat;
         background-size: cover;
       }*/ }
    .person-p .info-icons ul li {
      float: left; }
    .person-p .info-icons ul li + li {
      padding-left: 2rem; }
    .person-p .info-icons .infor-icon .icon-a {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("../imgs/pppp.png"); }
    .person-p .info-icons .infor-icon .icon-a1 {
      background-position: 0 bottom; }
    .person-p .info-icons .infor-icon .icon-a2 {
      background-position: -20px bottom; }
    .person-p .info-icons .infor-icon .icon-a3 {
      background-position: -40px bottom; }
    .person-p .info-icons .infor-icon .icon-a4 {
      background-position: -60px bottom; }
    .person-p .info-icons .infor-icon .icon-a5 {
      background-position: -80px bottom; }
  .person-p .info-icons-anim {
    top: 9rem;
    opacity: 1; }
  .person-p .info-more {
    position: absolute;
    top: 12.5rem;
    right: 2rem;
    display: none; }
  .person-p .my-info {
    width: 70%;
    position: absolute;
    top: 16.5rem;
    left: 0;
    right: 0;
    margin: 1rem auto;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  .person-p .my-info-anim {
    top: 11.5rem;
    opacity: 1; }
  .person-p .about-me {
    width: 100%;
    position: absolute;
    top: 21.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .person-p .about-me .about-me-title {
      width: 100%;
      padding: 0.6rem;
      background-color: #FFF;
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center; }
      .person-p .about-me .about-me-title h4 {
        padding: 0;
        margin: 0; }
      .person-p .about-me .about-me-title span {
        font-size: 1.4rem; }
    .person-p .about-me p {
      width: 85%;
      margin: 0 auto;
      text-indent: 2rem; }
  .person-p .about-me-anim {
    top: 18rem;
    opacity: 1; }
  .person-p .my-ability {
    position: absolute;
    top: 38.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    /*
        .md-li-img1 p{
          top: 3rem;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          line-height: 5rem;
          color: blue;
          opacity: 0;
          font-weight: bold;

          transition :all 1s ease-out ;
        }
        .mb-li-img1:hover{
          p{
            top: 0rem;
            opacity: 1;
          }
          img{
            transform: translate(0,0);
          }

        }*/ }
    .person-p .my-ability .my-ability-c {
      width: 100%; }
    .person-p .my-ability .my-ability-title {
      width: 15.5rem;
      height: 3.2rem;
      background: url("../imgs/skill_img.png") no-repeat;
      background-size: cover;
      margin: 0 auto; }
    .person-p .my-ability .mb-li-img {
      float: left;
      width: 18.6%;
      height: 5rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      background: #000000;
      overflow: hidden;
      position: relative; }
      .person-p .my-ability .mb-li-img img {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transform: translate(1rem, 0);
        transform: translate(1rem, 0);
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
      .person-p .my-ability .mb-li-img .li-img-box {
        width: 120%;
        height: 100%;
        opacity: 1;
        background: url("../imgs/pppp.png");
        -webkit-transform: translate(-1rem, 0);
        transform: translate(-1rem, 0);
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
      .person-p .my-ability .mb-li-img .li-img-box1 {
        background-position: 0 0; }
      .person-p .my-ability .mb-li-img .li-img-box2 {
        background-position: -125px 0; }
      .person-p .my-ability .mb-li-img .li-img-box3 {
        background-position: -250px 0; }
      .person-p .my-ability .mb-li-img .li-img-box4 {
        background-position: -375px 0; }
      .person-p .my-ability .mb-li-img .li-img-box5 {
        background-position: -500px 0; }
      .person-p .my-ability .mb-li-img .li-img-box6 {
        background-position: -0px 90px; }
      .person-p .my-ability .mb-li-img .li-img-box7 {
        background-position: -125px 90px; }
      .person-p .my-ability .mb-li-img .li-img-box8 {
        background-position: -250px 90px; }
      .person-p .my-ability .mb-li-img .li-img-box9 {
        background-position: -375px 90px; }
      .person-p .my-ability .mb-li-img .li-img-box10 {
        background-position: -500px 90px; }
      .person-p .my-ability .mb-li-img p {
        position: absolute;
        text-align: center;
        line-height: 5rem;
        color: #FFF;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img1 {
      /* .........................*/
      /* .........................*/ }
      .person-p .my-ability .md-li-img1 p {
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0; }
    .person-p .my-ability .md-li-img1:hover p {
      top: 0;
      opacity: 1; }
    .person-p .my-ability .md-li-img1:hover .li-img-box1 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img2 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
    .person-p .my-ability .md-li-img2:hover p {
      opacity: 1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .person-p .my-ability .md-li-img2:hover .li-img-box2 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img3 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: skew(90deg);
      transform: skew(90deg); }
    .person-p .my-ability .md-li-img3:hover p {
      opacity: 1;
      -webkit-transform: skew(0deg);
      transform: skew(0deg); }
    .person-p .my-ability .md-li-img3:hover .li-img-box3 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img4 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); }
    .person-p .my-ability .md-li-img4 .div-aim {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 90%;
      height: 90%;
      margin: auto auto;
      border: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img4:hover p {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .person-p .my-ability .md-li-img4:hover .li-img-box4 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img4:hover .div-aim {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 1; }
    .person-p .my-ability .md-li-img5 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); }
    .person-p .my-ability .md-li-img5 .div-aim2 {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 120%;
      height: 90%;
      margin: auto auto;
      background: #b3d4fc;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .person-p .my-ability .md-li-img5:hover p {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .person-p .my-ability .md-li-img5:hover .li-img-box5 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img5:hover .div-aim2 {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
      opacity: 1; }
    .person-p .my-ability .md-li-img6 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5); }
    .person-p .my-ability .md-li-img6 .div-aim3-1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img6 .div-aim3-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img6:hover p {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .person-p .my-ability .md-li-img6:hover .li-img-box6 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img6:hover .div-aim3-1 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 1; }
    .person-p .my-ability .md-li-img6:hover .div-aim3-2 {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 1; }
    .person-p .my-ability .md-li-img7 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5); }
    .person-p .my-ability .md-li-img7 .div-aim4-1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: translate(100%, 0);
      transform: translate(100%, 0);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img7 .div-aim4-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border-left: 1px solid #FFF;
      border-right: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img7:hover p {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .person-p .my-ability .md-li-img7:hover .li-img-box7 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img7:hover .div-aim4-1 {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    .person-p .my-ability .md-li-img7:hover .div-aim4-2 {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    .person-p .my-ability .md-li-img8 p {
      top: 3rem;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5); }
    .person-p .my-ability .md-li-img8 .div-aim5-1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border-bottom: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: translate(0, 100%);
      transform: translate(0, 100%);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img8 .div-aim5-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 90%;
      margin: auto auto;
      border-bottom: 1px solid #FFF;
      opacity: 0;
      -webkit-transform: translate(10%, -100%);
      transform: translate(10%, -100%);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
    .person-p .my-ability .md-li-img8:hover p {
      top: 0.5rem;
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    .person-p .my-ability .md-li-img8:hover .li-img-box8 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img8:hover .div-aim5-1 {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1; }
    .person-p .my-ability .md-li-img8:hover .div-aim5-2 {
      -webkit-transform: translate(10%, 0);
      transform: translate(10%, 0);
      opacity: 1; }
    .person-p .my-ability .md-li-img9 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: skew(90deg);
      transform: skew(90deg); }
    .person-p .my-ability .md-li-img9:hover p {
      opacity: 1;
      -webkit-transform: skew(0deg);
      transform: skew(0deg); }
    .person-p .my-ability .md-li-img9:hover .li-img-box9 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img10 p {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0); }
    .person-p .my-ability .md-li-img10:hover p {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .md-li-img10:hover .li-img-box10 {
      opacity: 0.5;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .person-p .my-ability .my-ability-foot {
      padding: 1rem;
      font-size: 1.4rem; }
  .person-p .my-ability-anim {
    top: 37.5rem;
    opacity: 1; }
  .person-p .person-foot {
    position: absolute;
    top: 56.5rem;
    left: 0;
    right: 0;
    text-align: center; }

/* person 的响应式布局 */
/* 设置断点 */
@media only screen and (min-width: 46.875em) and (max-width: 78.125em) {
  .person-p .my-info {
    width: 90%; }
  .my-ability .my-ability-c .mb-li-img {
    width: 18%; } }

@media only screen and (min-width: 33.125em) and (max-width: 46.775em) {
  body {
    overflow: scroll; }
  .my-ability .my-ability-c .mb-li-img {
    width: 18.7%; } }

@media only screen and (max-width: 33.025em) {
  body {
    overflow: scroll; }
  .person {
    height: 17.6rem; }
  .person-p .my-info,
  .person-p .about-me,
  .person-p .my-ability,
  .person-p .person-foot {
    display: none; }
  .person-p .info-more {
    display: block; } }

.blog {
  height: 100vh;
  overflow: auto;
  color: #555555;
  padding: 2rem; }
  .blog .blog-title .bolg-time {
    margin-top: 2rem; }
  .blog .blog-img {
    width: 50%;
    height: 16rem;
    padding: 1rem; }
    .blog .blog-img img {
      width: 100%;
      height: 100%; }
  .blog .blog-intor {
    width: 50%;
    padding: 1rem; }

/* blog 的响应式布局 */
/* 设置断点 */
@media only screen and (max-width: 33.025em) {
  .blog .blog-img {
    width: 100%; }
  .blog .blog-intor {
    width: 100%; } }
