<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable = no">
    <title>ZengTianShengZ Blog</title>

<!--
    <link type="text/css" rel="stylesheet" href="../build/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../build/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="../build/css/Normalize.css">
    <link rel="stylesheet" type="text/css" href="../build/css/main.css">
-->

</head>
<body>

<div class="z-blog">
    <div class="row">
        <div class="col-sm-5   person" id="person">
            <div class="person-bg ">
                <div class="person-p ">
                    <h2><a href="#"><img class="img-circle logo" id="logo"  ></a></h2>
                    <div class="er-img"></div>
                    <div class="info-icons " id="infoIcons">
                        <ul>
                            <li class = "infor-icon"><a href="#" class = "icon-a icon-a1" data-toggle="modal" data-target="#myModal"></a></li>
                            <li class = "infor-icon"><a target="_blank" href="https://github.com/ZengTianShengZ" class = "icon-a icon-a2"></a></li>
                            <li class = "infor-icon"><a target="_blank" href="https://segmentfault.com/u/zss" class = "icon-a icon-a3"></a></li>
                            <li class = "infor-icon"><a target="_blank" href="http://weibo.com/u/2876232957?refer_flag=1001030101_" class = "icon-a icon-a4"></a></li>
                            <li class = "infor-icon"><a target="_blank" href="https://www.zhihu.com/people/ceng-tian-sheng" class = "icon-a icon-a5"></a></li>
                        </ul>

                    </div>
                    <p class="info-more"><a href="#">查看更多>></a></p>
                    <div class="my-info" id="myInfo">
                        <div class="clearfix">
                            <h5 class="pull-left"> <span class="glyphicon glyphicon-flag"></span> 毕业院校：华侨大学下面工学院</h5>
                            <h5 class="pull-right"> <span class="glyphicon glyphicon-home"></span> 户 籍 地：福建漳州</h5>
                        </div>
                        <div>
                            <h5 class="pull-left"> <span class="glyphicon glyphicon-heart-empty"></span>  兴趣爱好：音乐、旅游、编程</h5>
                            <h5 class="pull-right"><span class="glyphicon glyphicon-map-marker"></span> 现&nbsp;居：杭州 - 余杭</h5>
                        </div>
                    </div>
                    <div class="about-me" id="aboutMe">
                        <div class="about-me-title">
                            <h4>About Me</h4>
                            <span>关于我</span>
                        </div>
                        <p>2016年7月毕业于华侨大学厦门工学院，大四下学期实习于厦门星罗科技网络公司，从事Android开发。工作期间，主要负责公司产品‘魔力相册’的迭代开发，查找并修复Bug,并参与讨论产品的交互设计。 </p>
                        <p>毕业后因个人原因离职，此后开始自学前端开发，有 ‘轻量级DOM操作库’、‘jQuery-roll轮播图插件’等项目。</p>

                    </div>
                    <div class="my-ability " id="myAbility">
                        <div class="my-ability-c">
                            <div class="my-ability-title">

                            </div>
                            <div>
                                <ul class="clearfix">
                                    <li class = 'mb-li-img md-li-img1'><div class = "li-img-box li-img-box1"></div><p>熟悉html</p></li>
                                    <li class = 'mb-li-img md-li-img2'><div class = "li-img-box li-img-box2"></div><p>熟悉css</p></li>
                                    <li class = 'mb-li-img md-li-img3'><div class = "li-img-box li-img-box3"></div><p>熟悉js</p></li>
                                    <li class = 'mb-li-img md-li-img4'><div class = "li-img-box li-img-box4"></div><p>熟悉gulp构建<br>工具</p><div class="div-aim"></div></li>
                                    <li class = 'mb-li-img md-li-img5'><div class = "li-img-box li-img-box5"></div><p>熟悉jquery</p><div class="div-aim2"></div></li>
                                    <li class = 'mb-li-img md-li-img6'><div class = "li-img-box li-img-box6"></div><p>熟练响应式</p><div class="div-aim3-1"></div><div class="div-aim3-2"></div></li>
                                    <li class = 'mb-li-img md-li-img7'><div class = "li-img-box li-img-box7"></div><p>了解bootstrap</p><div class="div-aim4-1"></div><div class="div-aim4-2"></div></li>
                                    <li class = 'mb-li-img md-li-img8'><div class = "li-img-box li-img-box8"></div><p>了解ES6新特性</p><div class="div-aim5-1"></div><div class="div-aim5-2"></div></li>
                                    <li class = 'mb-li-img md-li-img9'><div class = "li-img-box li-img-box9"></div><p>熟悉Android原生开发</p></li>
                                    <li class = 'mb-li-img md-li-img10'><div class = "li-img-box li-img-box10"></div><p><a target="_blank" href="https://zengtianshengz.github.io/blog/resume/" style="color: #FFF">查看更多>></a></p></li>
                                </ul>
                            </div>
                            <div class="my-ability-foot">

                                <p class="pull-right"><a target="_blank" href="https://zengtianshengz.github.io/blog/resume/" style="color: #FFF">查看更多>></a></p>
                            </div>
                        </div>

                    </div>
                    <div class="person-foot">
                        <p>© ZTS's Blog 2016.9.19 </p>
                        <p>Designed and developed by ZengTianShengZ.</p>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-sm-7 blog">

            <div class="blog-cont">

                <!--

                                    <div class="blog-title clearfix">
                                        <h3 class="blog-title-h3 pull-left">追加大祭司时间</h3>
                                        <p class="bolg-time pull-right">2016年9月1 号</p>
                                    </div>
                                    <div class="clearfix blog-box">
                                        <div class="pull-right blog-img">
                                            <img src="../imgs/blog_tt.jpg" alt="">
                                        </div>
                                        <div class="pull-left blog-intor" >
                                            <p>渐进增强是先兼容低版本的浏览器进行开发，比如对 IE 8.。。让功能先能用了再对高版本的
                                                浏览器进行增加一些特性或功能，但一般呢不太推荐，为什么呢？
                                                对于一些小公司而已，如果对低版本开发，有时候产品还没做好 浏览器删除一些不支持的
                                            </p>
                                            <p><a href="#">查看更多</a></p>
                                        </div>
                                    </div>

                -->


            </div>


        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-body-tex">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    曾思胜的联系方式
                </h4>
            </div>
            <div class="modal-body">
                <div >
                    <h4> 联系电话：13616500494</h4>
                    <h4> 联系邮箱：zengtianshengz@163.com</h4>
                    <h4> 联系邮箱：2292800085@qq.com</h4>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--
    <script src="build/js/combined-f8fd6acbbf.js"></script>
-->

<script src="../test/js/jquery.js"></script>
<script src="../test/js/bootstrap.js"></script>
<script src="js/ejs.min.js"></script>

<script src="js/main.js" ></script>
<script id="blogContent" type="text/template">
    <% if (blogMessage.length) { %>

    <% blogMessage.forEach(function(blog){ %>

    <div class = 'blog-box'>
        <div class="blog-title clearfix">
            <h3 class="blog-title-h3 pull-left"><a target="_blank" href='blog.html?<%= blog.url_id %>'><%= blog.titles %></a> </h3>
            <p class="bolg-time pull-right"><%= blog.updated_at %></p>
        </div>
        <div class="clearfix">
            <div class="pull-right blog-img">
                <img src="src/imgs/blog_tt.jpg" id='blogImg<%= blog.url_id %>' alt="">
            </div>
            <div class="pull-left blog-intor" >
                <p><%= blog.article_intor %></p>

                <p><a target="_blank" href='blog.html?<%= blog.url_id %>'>查看更多</a></p>

                <!--<p><a target="_blank" href='blog.html?1'>查看更多</a></p>-->
            </div>
        </div>
    </div>
    <% }) %>

    <% } %>
</script>

</body>
